<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="style.css" />
    <title>Art & Tees</title>
  </head>
  <body>
    <div class="grid-container">
      <header class="header">
        <div class="brand">
          <button onclick="openMenu()">&#9776;</button>
          <a href="index.html">Art & Tees</a>
        </div>
        <div class="header-links">
          <a href="cart.html">Cart</a>
          <a href="signin.html"> Sign In</a>
        </div>
      </header>
      <footer class="footer">
        All right reserved | Art & Tees Collection 2021
      </footer>
    </div>
    <script>
      function openMenu() {
        document.querySelector(".sidebar").classList.add("open");
      }
      function closeMenu() {
        document.querySelector(".sidebar").classList.remove("open");
      }
    </script>
  </body>
</html>
